.card {
    padding:10px;
    min-height: 100%;
    color: var(--darkerblue);
}
.btn-app {
    margin: 4px;
    border-radius: 30px;
}
.projectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.project {
    padding: 10px;
    /* border: 1px solid black; */
}

.content {

    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px; */
    /* border: 1px solid black; */
}
