.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background: rgb(91, 91, 91);
}

.social {
  padding: 20px 0 20px 0;
}

.social a {
  margin: 0 7px 0 7px;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  margin: 7px 0;
  border-radius: 2px;
  border: none;
  resize: none;
}

.contact form textarea {
  height: 100px;
}
.contact form button {
  width: 20%;
  border: none;
  border-radius: 2px;
  margin: 5px auto;
}

.skillsContainer {
  border: rgb(15, 14, 14) 1px solid;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 10px rgb(15, 14, 14);
}

.pdf:hover {
  background-color: rgb(193, 10, 10) !important;
  border: red 1px solid;
  border-radius: 10px;
}

.style-card {
  box-shadow: 0px 0px 10px 10px rgb(15, 14, 14) !important;
}
